body {
    background-color: black;
    font-family: "Spectral";
    color: white;
    text-align: center;
    align-content: center;
}

h1 {
    font-family: "Beth Ellen";
    font-size: 4rem;
    line-height: 1.2;
}

h1 span {
    color: #ff5563;
}

